/* CSS declarations go here */

body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	font-size: 12px;
	line-height: 14px;
	font-family: sans-serif;
	background-image: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/stressed_linen.png');
	overflow-x: hidden;

}

/* side menu syling */
#side-menu {
	/* make it 260px wide and  slide it -260px => out of screen
	 * so we can make it slide into the screen when the menu is opened
	 */
	z-index: 10;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -260px;
	width: 260px;



	color: #c5c5c5;
	background-color: #303030;
}

#side-menu > h1 {
	margin: 0;
	padding: 5px;

	font-size: 10px;
	line-height: 12px;
	text-shadow:0 1px 0 rgba(0, 0, 0, .6);

	color: #a5a5a5;
	background-color:#393939;
	background-image: -o-linear-gradient(#505050, #404040);
	background-image: -ms-linear-gradient(#505050, #404040);
	background-image: -moz-linear-gradient(#505050, #404040);
	background-image: -webkit-linear-gradient(#505050, #404040);
	background-image: linear-gradient(#505050,#404040);
}

/* disable default browser list style */
#side-menu > menu {
	margin:0;
	padding:0;
	list-style: none;
	overflow-y: auto;
	max-height: 300px;
}

#side-menu > #contacts {
	padding-top:40px;
}
#side-menu > h1,
#side-menu > menu > li {
	border-bottom: 1px solid #242424;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
}

.contact {
	padding:0;
	height:40px;
}

.contact > a > img {
	vertical-align: middle;
}
.contact > a > :not(img) {
	padding-left: 5px;
}

#settings > li > a {
	padding-top: 8px;
}
#side-menu > menu > li > a {
	display: block;

	text-decoration: none;
	color: #c5c5c5;
}

#side-menu > menu > li > a:hover {
	text-decoration: none;
	color: #f0f0f0;
}


#search {
	position: absolute;
	top: 28px;
	height: 26px;
	left: 5px;
	right: 5px;

}

#side-menu,
#main {

	overflow-y: auto;
	/* the transition type and speed are set.
 	* the transform type allows us
 	*/
	-o-transition: 0.3s -o-transform;	
	-ms-transition: 0.3s -ms-transform;	
	-moz-transition: 0.3s -moz-transform;
	-webkit-transition: 0.3s -webkit-transform;
	transition: 0.3s transform;	
}


/* the 'slide' class is set on both the side menu and main content
 * so the side menu slides in (remember the -260px mentioned before)
 * and the main content slides out
 */
#side-menu.slide,
#main.slide {
	-o-transform: translate3d(260px, 0, 0);
	-ms-transform: translate3d(260px, 0, 0);
	-moz-transform: translate3d(260px, 0, 0);
	-webkit-transform: translate3d(260px, 0, 0);
	transform: translate3d(260px, 0, 0);
}

/* main screen styling */
#main {

}

#main > header > h1 {
	color: white;

	margin: 0;
}

#messages {
	margin: 0;
	padding: 0;
}
#messages > li {
	list-style: none;

	margin: 5px 28px 5px 28px;
	display: block;
}

#messages li > article {
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
}

#messages li.he:before {
	content:"";
	position: absolute;
	border-top: 10px solid yellow;
	border-left: 28px solid transparent ;
	left: g0;
	margin: 0;
	display: block;
	z-index: 1000;
}

#messages li.he {

	background-color: rgb(180, 180, 180);

}

#messages li > article {
	padding-top: 20px;
}

#messages li.he:before {
	content:"";
	position: absolute;
	border-top: 10px solid rgb(180, 180, 180);
	border-left: 28px solid transparent ;
	left: 0px;
	margin: 0;
	display: block;
	z-index: 1000;
}

#messages li.me {

	background-color: rgb(220, 220, 220);

}

#messages li.me:before {
	content:"";
	position: absolute;
	border-top: 10px solid rgb(220, 220, 220);
	border-right: 28px solid transparent ;
	right: 0px;
	margin: 0;
	display: block;
	z-index: 1000;
}


#messages article > header > time {
	float:right;
	font-size: 10px;
}
#messages article > header > h2 {
	display: inline;
}