/* CSS declarations go here */

body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 14px;
	font-family: sans-serif;
	background-image: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/stressed_linen.png');
	overflow-x: hidden;

}


input[type="text"], input[type="search"], input[type="email"], input[type="password"] {
	padding: 4px;
	border: 1px solid #999;
	border-radius: 3px;
	line-height: 1;
	font-size: 12px;
}

input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 66, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


button {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);

	background-color: #006dcc;
	background-image: -o-linear-gradient(#08c, #04c);
	background-image: -ms-linear-gradient(#08c, #04c);
	background-image: -moz-linear-gradient(#08c, #04c);
	background-image: -webkit-linear-gradient(#08c, #04c);
	background-image: linear-gradient(#08c, #04c);

	background-repeat: repeat-x;

	padding: 4px;
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 3px;
	line-height: 1;
	font-size: 12px;


}

button:hover {
	-o-transition: 0.1s background-position linear;	
	-ms-transition: 0.1s background-position lineart;	
	-moz-transition: 0.1s background-position linear;
	-webkit-transition: 0.1s background-position linear;
	transition: 0.1s background-position linear;

	background-position: 0 -15px;	
}
button:hover,
button:active,
button[disabled] {
	color: #fff;
	background-color: #04c;
}

/* side menu syling */
#side-menu {
	/* make it 260px wide and  slide it -260px => out of screen
	 * so we can make it slide into the screen when the menu is opened
	 */
	z-index: 10;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -260px;
	width: 260px;



	color: #c5c5c5;
	background-color: #303030;
}

#side-menu > h1 {
	margin: 0;
	padding: 5px;

	font-size: 10px;
	line-height: 12px;
	text-shadow:0 1px 0 rgba(0, 0, 0, .6);

	color: #a5a5a5;
	background-color:#393939;
	background-image: -o-linear-gradient(#505050, #404040);
	background-image: -ms-linear-gradient(#505050, #404040);
	background-image: -moz-linear-gradient(#505050, #404040);
	background-image: -webkit-linear-gradient(#505050, #404040);
	background-image: linear-gradient(#505050,#404040);
}

/* disable default browser list style */
#side-menu > menu {
	margin:0;
	padding:0;
	list-style: none;
	overflow-y: auto;
	max-height: 300px;
}

#side-menu > #contacts {
	padding-top:40px;
}
#side-menu > h1,
#side-menu > menu > li {
	border-bottom: 1px solid #242424;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
}

.item {
	padding:0;
	height:40px;
}

.item:hover {
	background-color: #323232;
}
.item > a > img {
	vertical-align: middle;
}
.item > a > :not(img) {
	padding-left: 5px;
}

#settings > .item > a {
	padding-top: 10px;
}

#side-menu > menu > li > a {
	display: block;

	text-decoration: none;
	color: #c5c5c5;
}

#side-menu > menu > li > a:hover {
	text-decoration: none;
	color: #f0f0f0;
}


#search {
	position: absolute;
	top: 28px;
	height: 26px;
	left: 5px;
	right: 5px;

}



#side-menu,
#main {

	overflow-y: auto;
	/* the transition type and speed are set.
 	* the transform type allows us
 	*/
	-o-transition: 0.3 left;	
	-ms-transition: 0.3s left;	
	-moz-transition: 0.3s left;
	-webkit-transition: 0.3s left;
	transition: 0.3s left	
}


/* the 'slide' class is set on both the side menu and main content
 * so the side menu slides in (remember the -260px mentioned before)
 * and the main content slides out
 */
#side-menu.slide {
	left: 0px;
}
#main.slide {
	left: 260px;

}

/* main screen styling */
#main {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	top: 0;
	bottom: 0;
}

#main > header {
	display: inline;
	height: 48px;
	position: absolute;
	padding: 0 0 0 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0d0d0d));

}



#content {
	margin: 0;
	padding: 48px 0 0 0;
}


#messages > li {
	list-style: none;

	margin: 5px 28px 5px 28px;
	display: block;
}

#messages li > article {
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 10px 10px;
}

#messages li.he:before {
	content:"";
	position: absolute;
	border-top: 10px solid yellow;
	border-left: 28px solid transparent ;
	left: 0;
	margin: 0;
	display: block;
	z-index: 9;
}

#messages li.he {

	background-color: rgb(180, 180, 180);

}

#messages li > article {
	padding-top: 8px
}

#messages li.he:before {
	content:"";
	position: absolute;
	border-top: 10px solid rgb(180, 180, 180);
	border-left: 28px solid transparent ;
	left: 0px;
	margin: 0;
	display: block;
	z-index: 9;
}

#messages li.me {

	background-color: rgb(220, 220, 220);

}

#messages li.me:before {
	content:"";
	position: absolute;
	border-top: 10px solid rgb(220, 220, 220);
	border-right: 28px solid transparent ;
	right: 0px;
	margin: 0;
	display: block;
	z-index: 9;
}


#messages article > header > time {
	float:right;
	font-size: 10px;
}
#messages article > header > h2 {
	display: inline;

}