/* CSS declarations go here */

body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
#side-pane {
	position: fixed;
	color :#C5C5C5;
	background-color: #303030;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	left: -260px;
	width: 260px;
}

.seperator, .item {
	border-bottom: 1px solid #242424;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
}

.seperator {
	color: #a5a5a5;
	padding: 5px;
	line-height: 12px;
	font-size: 10px;
	margin: 0;
	background-color:#393939;
	text-shadow:0 1px 0 rgba(0, 0, 0, .6);
	background: -webkit-linear-gradient(#505050, #404040);
}
.item {
	padding-top:8px;
	height:30px;
}


#side-pane {

}
#side-pane, #main-pane {
	-o-transition: 0.3s -o-transform;	
	-ms-transition: 0.3s -ms-transform;	
	-moz-transition: 0.3s -moz-transform;
	-webkit-transition: 0.3s -webkit-transform;
	transition: 0.3s transform;
}
.slide {
	-o-transform: translate3d(260px, 0, 0);
	-ms-transform: translate3d(260px, 0, 0);
	-moz-transform: translate3d(260px, 0, 0);
	-webkit-transform: translate3d(260px, 0, 0);
	transform: translate3d(260px, 0, 0);
}

#main-pane {
	position: fixed;
	left:0;
	right:0;
	width: 100%;
	height: 100%;
	padding-top: 48px;

	box-shadow: -1px -5px 8px 0 black;

}

#nav-header {
	height: 48px;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index:10;
	background: #303030 -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0d0d0d));
}